modem.img
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/priv-app/SystemUI/SystemUI.apk
system/system/priv-app/HeyTapSpeechAssist/HeyTapSpeechAssist.apk
system/system/etc/camera/license_release.lic
system/system/app/OppoCamera/OppoCamera.apk
vendor/etc/camera/license.lic
vendor/euclid/product.img
